DB_URL=jdbc:postgresql://localhost:5432/postgres
DB_USERNAME=postgres
DB_PASSWORD=1234

#MAIL_USERNAME=
#MAIL_PASSWORD=



JWT_SECRET={20characters}


#API_GATEWAY=http://localhost:8080
#IAM_SERVICE=http://localhost:8000
#VENDOR_SERVICE=http://localhost:8001
#MENU_SERVICE=http://localhost:8002
#ORDER_SERVICE=http://localhost:8003
API_GATEWAY=8080
IAM_SERVICE=8000
VENDOR_SERVICE=8001
MENU_SERVICE=8002
ORDER_SERVICE=8003